body,
p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  align-items: center;
  height: 10vh;
  padding: 2em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav img {
  width: 20px;
  height: 20px;
}

nav .name_avatar {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
  color: white;
  border-radius: 50%;
}

/* Main part styling */
main {
  width: 50%;
  margin: 4em auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid grey;
}

.button-container {
  margin-top: 1em;
}

.button-container button {
  padding: 1rem;
  border: none;
}

footer {
  background-color: rgb(240, 236, 246);
}

.footer-top {
  padding: 1rem;
}

.footer-bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.left a {
  margin-right: 1em;
}
.right a {
  margin-right: 1em;
}
